.main_container {
  display: flex;
  flex-direction: row;
  gap: 50px;

}

#editor {
  width: 50%;
  padding: 20px;
}

#preview {
  width: 50%;
  border: 1px solid darkgrey;
  padding: 20px;
  background-color: hsl(0, 0%, 98%);
}

.label_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  width: 100%;
  gap: 50px;
}
h3 {
  width: 100%;
}